<div class="top-container">

    <div class="top-container1">
        <div class="left-side">
            <div class="img-wrapper">
                <a href="/"><img src="/imgs/logo.png" alt="logo" width="299" height="133"></a>
            </div>
        </div>
    
        <div class="right-side">
            <div class="text-wrapper">
                <p class="top-text">porteas liveratum fiscol</p>
            </div>
        </div>
    </div>

    <div class="nav-bar">
        <div class="nav-wrapper">
            <a href="/">HOME</a>
        </div>
        <div class="nav-wrapper">
            <a href="article/rand">SHUFFLE</a>
        </div>
    </div>
    
</div>