body{    
    margin: 0px;
}

/* topo */
.top-container{
    border-bottom: 1px solid rgb(229, 229, 229); 
}

.top-container1{
    position: relative;
    display: flex;
    padding: 30px;
    justify-content: center;   

}

.top-text{
    margin-top: auto;
    margin-bottom: auto;
    line-height: 133px;
    max-height: 200px;
    padding-left: 16px;
    margin-left: 16px;
    border-left: 1px solid rgb(229, 229, 229);
    color: rgb(85, 85, 85);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, serif;    
    font-style: italic;
}

.nav-bar{
    display:flex ;
    justify-content: center;
    padding-bottom: 10px;
}

.nav-wrapper{
    margin: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-wrapper a{
    text-decoration: none;    
    color: rgb(85, 85, 85);
    transition: color 0.5s;
    font-family: Georgia, serif;   
}

.nav-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-wrapper a:hover{
    color: black;
}

/* conteudo */
.middle-container{    
    padding: 10px 50px;    
}

.input{
    width: 100%;
    margin:8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#title, #image{
    height: 30px;
}

#description{
    height: 60px;
}

#content{
    height: 90px;
}

.btn{
    width: 75px;
    height: 45px;
    border: 1px solid #ccc;
    border: none;
    background-color:rgb(120, 120, 120);
    border-radius: 4px;
    padding: 0px;
}

.middle-container a{
    width: 50px;
    height: 25px;
    text-decoration: none;
    background-color:rgb(200, 200, 200);
    padding: 10px;  
    border: 1px solid #ccc;
    border-radius: 4px;  
    color: rgb(37, 37, 37);
}
